.header {
  width: 100%;
  z-index: -1;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.header img {
  max-width: 800px;
  object-fit: cover;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  .header img {
    display: none;
  }
}

.main {
  width: 100%;
  margin-top: 0.5rem;
}

.fixed {
  position: fixed !important;
  top: 0;
  left: 76%;
}

.shrink {
  max-width: 25vh;
}
